.section-title{
    font-size: 24px;
    margin: 10px;
    font-weight: bold;
    color: rgb(88, 88, 88);
}
.possts{
    display: flex;
    width: 450px;
    padding: 5px;
    margin-left: 10px;
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
    border: 1px solid rgb(190, 190, 190);
    box-shadow: 0 0 3px rgba(209, 209, 209, 0.5);
    margin: 10px;
}
.img-thumb{
    width: 200px;
    height: 150px;
    margin-right: 20px;
}
.img-thumb img{
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.content{
    flex: 1;
}
.dummy-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(56, 56, 56);
    text-transform: capitalize;
}
.dummy-title:hover{
    color: rgb(100, 100, 100);
    cursor: pointer;
}
.desc{
    font-size: 14px;
    color: rgb(129, 129, 129);
}
.btn{
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
    margin-right: 5px;
    font-weight: bold;
}
.btn-remove{
    color: white;
    background-color: red;
}
.btn-remove:hover{
    background-color: rgb(175, 0, 0);
    cursor: pointer;
}
.btn-update{
    color: white;
    background-color: rgb(248, 203, 4);
}
.btn-update:hover{
    background-color: rgb(236, 162, 0);
    cursor: pointer;
}
.form-add-post{
    width: 450px ;
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
    border: 1px solid rgb(190, 190, 190);
    box-shadow: 0 0 3px rgba(209, 209, 209, 0.5);
    margin: 10px;
    padding: 5px;
}
.form-add-post label{
    color: rgb(60, 75, 105);
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}.form-add-post input, .form-add-post textarea{
    outline: none;
    border: 1px solid grey;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 15px;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
}
.btn-save{
    margin-top: -5px;
    display: block;
    margin-bottom: 5px;
    color: white;
    background-color: rgb(49, 235, 157);
}
.btn-save:hover{
    background-color: rgb(11, 189, 106);
}