.header{
    display: flex;
    width: 250px;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    background-color: aquamarine;
}
.logo{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.logo img{
    width: 40px;
}
.troley{
    width: 100%;
    position: relative ;
}
.troley img{
    width: 40px;
    float: right;
    display: block;
}
.count{
    width: 10px;
    height: 10px;
    padding: 10px;
    position: absolute;
    color: white;
    background-color: rgb(206, 0, 0);
    border-radius: 100%;
    padding: 5px;
    bottom : 6px;
    right: 3px;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.card{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: 230px;
    box-shadow: 0 2px 9px 0 rgba(110, 109, 109, 0.4);
    border-radius: 5px;
    border: 1px solid rgb(184, 184, 184);
}
.img-thumb-prod{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.img-thumb-prod img{
    width: 100%;
}
p.product-title{
    font-weight: 800;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: rgb(71, 71, 71);
    margin-bottom: 0%;
}
.product-price{
    font-weight: bold;
    font-size: 24px;
    color: rgb(247, 167, 71);
    margin-top: 0;
    margin-bottom: 10px;
}
.counter{
    padding: 5px;
    display: inline-block;
    margin-left: 5px;
}
.minus{
    background-color: rgb(255, 53, 53);
    padding: 5px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border: none;
    margin-right: 5px;
    color: white;
    border-radius: 5px;
    outline: none;
}
.section-title{
    font-size: 24px;
    margin: 10px;
    font-weight: bold;
    color: rgb(88, 88, 88);
}
.plus{
    background-color: rgb(6, 235, 147);
    padding: 5px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border: none;
    margin-left: 5px;
    color: white;
    border-radius: 5px;
    outline: none;
    
}
.counter input{
    width: 130px;
    height: 28px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid rgb(114, 114, 114);
    margin-top: 0;
    text-align: center;
}
.plus:hover{
    background-color: rgb(0, 165, 102);
}
.minus:hover{
    background-color: rgb(165, 0, 0);
}